<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-wg2kll96fpshl3t" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DropboxFilesActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Messgeraete.MessgaeretAustauschActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Messgeraete.MessgaeretAblesungActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Messgeraete.MessgaeretNeuActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Messgeraete.MessgaeretBewertungActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.PictureViewActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetMontageListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetSonexaListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetInfoListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetAblesungListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.MessgeraetFunkCheckListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Rwm.RwmActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Rwm.RwmActivity_Info"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Rwm.RwmActivity_New"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Rwm.RwmActivity_Austausch"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.RauchmelderWartungListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.FileListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.LiegenschaftListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Liegenschaft.LiegenschaftActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.NutzerListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.detail.Nutzer.NutzerActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.list.NutzerTodosListActivity"
            android:screenOrientation="portrait"
            />
        <service android:name=".services.DropBoxService" />
    </application>
</manifest>